*{text-align: center;
font-family: cursive;
font-size: 1em;}

.text {color: tomato;}
.img {width: 200px;}

#box {text-align: center;
    }
.box {
    background-color: aquamarine;
    text-align: center;
    border-image-width: 200;
    height: 300px;
    margin-top: 0em;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 0em;
    padding: 5%;
    
   
  
    
}


.box ul {
    background-color: yellow;
    border-radius: 60%;
    list-style: none;
    margin-right: 10em;
    margin-left: 10em;
    margin-bottom: 10em;
    margin-top: 0%;
    padding: 1%;
    border-style: groove;
    border-color: steelblue;
    
    
}


h1, h2 {color: blueviolet;
    margin-top: 0%;
    }

    .header {
        background-color: rgb(219, 54, 109);
        text-align: center;
        margin-top: 0%;
        padding: 2em;
    }

    i {font-size: 20px;
    text-align: left;
    padding: 1%;
    color:rgb(15, 224, 95);
}
.icon-fb {color: rgb(231, 15, 80);}

.redes  {text-align: right;
color: rgb(231, 15, 80);}

.redes-2  {text-align: right;
    color: rgb(212, 235, 12);}
.icon-ig {color: rgb(212, 235, 12);}
    
.redes-3  {text-align: right;
    color: rgb(175, 175, 192);}
.icon-tw {color: rgb(175, 175, 192);}

.redes-4  {text-align: right;
    color: rgb(19, 3, 3);}
.icon-ln {color: rgb(19, 3, 3);}    



    
